[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.vs/
.vscode/
.idea/

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

MemoryCaptures/
Recordings/

Assets/AssetStoreTools*